{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}Mecard Studio{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'mecard/css/admin.css' %}">
  <link rel="stylesheet" href="{% static 'mecard/css/admin-changelist.css' %}">
  <link rel="icon" href="{% static 'mecard/images/favicon.svg' %}" type="image/svg+xml">
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script defer src="{% static 'mecard/js/admin.js' %}"></script>
{% endblock %}

{% block branding %}
  {% include "admin/components/topbar_branding.html" %}
{% endblock %}

{% block nav-global %}
  {% include "admin/components/topbar_actions.html" %}
{% endblock %}
